---
import { Container } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';

---

<Layout>
	<Container>
		<section>
			<h2>Margaux Astruc</h2>
			<p>
				Educatrice comportementaliste canin et félin, je vous accompagne dans
				l’éducation de votre chien ou dans la résolution d’une problématique que
				vous rencontrez avec votre compagnon canin et/ou félin.
			</p>
			<p>
				C'est de ma passion pour les animaux et pour les relations humaines
				qu'est née Compagnie Animale. J'ai à coeur de vous transmettre mes
				connaissances sur les chiens et chats qui sont selon moi la clé pour une
				relation sereine et de confiance. C'est en effet en connaissant leurs
				besoins et en comprenant leur fonctionnement que l'on peut adapter nos
				comportements pour leur offrir le meilleur au quotidien.
			</p>
			<p>
				Quelle que soit votre demande initiale, l’objectif est de favoriser une
				relation harmonieuse avec votre animal, tout en répondant à vos attentes
				et aux besoins éthologiques de votre compagnon, le tout dans la
				bienveillance et le respect de chacun. Mon accompagnement est ainsi
				personnalisé : je prends en compte vos demandes, vos contraintes, vos
				forces et limites, votre rythme de vie, etc.
			</p>
			<p>
				J’interviens dans les communes de Mimizan, Sainte-Eulalie-en-Born,
				Aureilhan, Bias et autres communes alentours, dans un rayon de 30km
				autour de Mimizan.
			</p>
			<p>
				Pour des informations complémentaires ou pour convenir d’un rendez-vous,
				je vous invite à me contacter, c’est avec plaisir que je vous
				répondrai !
			</p>
		</section>
		<section>
			<h3>Qu'est-ce qu'un comportementaliste ?</h3>
			<p>
				Le comportementaliste est un professionnel s'appuyant sur ses
				connaissances en éthologie (étude scientifique du comportement des
				espèces animales), ses observations de l'animal, de son environnement et
				de la manière dont il interagit avec ce dernier pour comprendre une
				problématique et proposer des solutions pour y remédier.
			</p>
		</section>
		<section>
			<h2>Mon parcours</h2>
			<p>
				Animée par l'envie d'aider les animaux et leurs gardiens, j’ai décidé de
				me former auprès de Vox Animae (certifié Qualiopi), organisme reconnu
				dans les formations aux métiers animaliers, où j’ai pu bénéficier des
				savoirs et expériences d’éthologues, d'intervenants en comportement
				canin et félin, d’éducateurs canins, de psychologues, … tous prônant des
				valeurs qui me tiennent à cœur telles que le respect de l’autre, la
				bienveillance, le travail, la formation continue. C’est également auprès
				de Vox Animae que j’ai obtenu l’ACACED, attestation délivrée par le
				ministère de l’Agriculture obligatoire pour exercer un métier en lien
				avec les animaux domestiques.
			</p>
		</section>
	</Container>
	<Container>
		<h2>Formations</h2>
		<ul class="education__list">
			<li><strong>Congrès international Pet Revolution (2022)</strong>  - organisé par l'organisme de formation Animal University (Thierry Bedossa, Eléonore Buffet et Sarah Jeannin).</li>
			<li><strong>Colloque annuel CATUS (2021)</strong> - organisé par CATUS, collectif de consultants de la relation Chat-Humain.</li>
			<li><strong>ACACED (2021)</strong> - Vox Animae, avec Romuald Deschodt, éducateur comportementaliste canin.</li>
			<li><strong>Comportementaliste félin (2021)</strong> - Vox Animae, avec Brunilde Ract-Madoux, éthologue spécialisée dans l’étude des comportements félins ; Sandie Decortiat et Sophie Legrand, intervenantes en comportement félin, directrice et directrice adjointe du réseau Educhateur France.</li>
			<li><strong>Comportementaliste canin (2021)</strong> – Vox Animae, avec Marie Legain, éthologue spécialisée dans l’étude des comportements canins ; Dr Hélène Saint-Dizier docteure et consultante en éthologie ; Amandine Rolet, éducatrice comportementaliste canin et félin et Dr Pauline Salvin, docteure en éthologie et éducatrice comportementaliste canin et félin.</li>
			<li><strong>Éducatrice canin (2021)</strong> - Vox Animae, avec Béatrice Meissner, éducatrice comportementaliste canin.</li>			
		</ul>

	</Container>
</Layout>

<style>
ul.education__list {
	list-style: none;
	padding-left: 0.4rem;
	padding-right: 0.4rem;

	& li {
		margin-bottom: 0.8rem;
	}
}
</style>
