---
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { Container, TextSection, ContainerColors } from '../../../components';
import Image from '../components/Image.astro';

const seo = {
	title: 'Accueil',
	description: 'Accueil',
	image: '/assets/images/home_01.jpeg',
};
---

<Layout {seo}>
	<HomeHeroSection />
	<Container narrow>
		<TextSection>
			<p>
				Educatrice comportementaliste canin et félin, je vous accompagne vers un
				quotidien serein avec votre compagnon, pour répondre à vos attentes, vos
				besoins et ceux de votre animal.
			</p>
			<p>
				Parce qu'il est prouvé scientifiquement qu'un climat serein et de
				confiance favorise l'apprentissage, mes méthodes de travail sont
				positives et bienveillantes, respectueuses de l’animal et de son
				bien-être.
			</p>
		</TextSection>
		<Image
			src="/assets/images/home_01.jpeg"
			alt="En harmonie avec votre chien ou votre chat"
		/>
		<TextSection>
			<p>
				Avec moi, attendez-vous à délaisser certaines habitudes et préjugés,
				mais préparez-vous surtout à (re)découvrir votre animal et à prendre du
				plaisir avec lui !
			</p>
		</TextSection>
	</Container>
	<Container>

	</Container>
</Layout>

<style>
	
</style>
