---
import { default as FeatureCard } from '../../../components/cards/FeatureCard.astro';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { Container, TextSection, ContainerColors } from '../../../components';
import Image from '../components/Image.astro';
---

<Layout>
	<HomeHeroSection />
	<Container narrow>
		<TextSection>
			<p>
				Educatrice comportementaliste canin et félin, je vous accompagne vers un
				quotidien serein avec votre compagnon, pour répondre à vos attentes, vos
				besoins et ceux de votre animal.
			</p>
			<p>
				Parce qu'il est prouvé scientifiquement qu'un climat serein et de
				confiance favorise l'apprentissage, mes méthodes de travail sont
				positives et bienveillantes, respectueuses de l’animal et de son
				bien-être.
			</p>
		</TextSection>
		<Image
			src="/assets/images/home_01.jpeg"
			alt="En harmonie avec votre chien ou votre chat"
		/>
		<TextSection>
			<p>
				Avec moi, attendez-vous à délaisser certaines habitudes et préjugés,
				mais préparez-vous surtout à (re)découvrir votre animal et à prendre du
				plaisir avec lui !
			</p>
		</TextSection>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Company Pages</h2>
			<p>
				Use one of our prebuilt company pages for your about page, contact page,
				legal pages, blog posts, etc.
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/company/about"
					title="About Page"
					imgSrc="/assets/images/home/screenshots/about"
				/>
				<FeatureCard
					href="/company/contact"
					title="Contact Page"
					imgSrc="/assets/images/home/screenshots/contact"
				/>
				<FeatureCard
					href="/blog/"
					title="Blog Page"
					imgSrc="/assets/images/home/screenshots/blog"
				/>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					title="Blog Post"
					imgSrc="/assets/images/home/screenshots/blog-post"
				/>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
					title="Legal Page"
				/>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Theme Pages</h2>
			<p>Learn more about how to set up and use the Odyssey Theme.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Get Started"
				/>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide"
					title="Style Guide"
				/>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
