---
import Layout from '../../../layouts/Page.astro';
import { Container, TextSection } from '../../../../../components';
import Image from '../../../components/Image.astro';
---

<Layout>
	<Container narrow>
		<TextSection>
			<h2>Bilan comportemental pour chat</h2>
			<h3>
				Comprendre son chat et ses besoins pour retrouver une relation
				harmonieuse
			</h3>
			<p>
				Votre chat fait ses besoins hors du bac à litière ? Il présente des
				conduites agressives ? Il fait ses griffes sur votre canapé ? Il a peur
				de tout ?
			</p>
			<p>
				Les chats, ces animaux solitaires (non si indépendants comme on peut
				souvent l'entendre), présentent parfois des comportements gênants que
				vous ne parvenez pas à comprendre.
			</p>
			<p>
				Mon rôle est de vous aider à les décrypter et de vous proposer des
				solutions pour y remédier. (car oui, il existe des solutions!)
			</p>
			<p>
				L'objectif ? Satisfaire les besoins éthologiques de votre chat tout en
				s'adaptant vos à habitudes de vie.
			</p>
		</TextSection>
		<Image
			src="/assets/images/bilan_comportemental_chat.jpg"
			alt="Oeil de chat"
		/>
		<TextSection>
			<h3>Déroulement du bilan comportemental</h3>
			<p>
				Le bilan comportemental est un entretien durant lequel nous échangeons
				sur la problématique que vous rencontrez et sur vos attentes. Pour
				analyser entièrement la situation, je vous pose un certain nombre de
				questions sur l'histoire de vie de votre chat, les événements marquants
				qu'il a pu vivre, ses habitudes de vie, votre relation, votre rythme de
				vie. Chaque membre du foyer pouvant avoir un rôle à jouer, je privilégie
				les entretiens où chacun peut être présent. Par la suite, afin d'avoir
				une vision globale de son environnement, nous faisons le tour de votre
				domicile.
			</p>
			<p>
				Si vous ne trouvez pas de comportementaliste félin près de chez vous, je
				vous propose de réaliser ce bilan comportemental par visioconférence (à
				condition que vous ayez une bonne connexion internet et un moyen de
				filmer).
			</p>
			<p>
				Le recueil de ces informations me permet de cerner la problématique et
				de vous proposer des solutions personnalisées et adaptées à votre chat
				et vous.
			</p>
			<p>
				A l'issue de cet échange, je vous envoie un compte-rendu personnalisé
				résumant
                <ul>
					<li>Les principaux sujets abordés lors de l'entretien</li>
					<li>Les recommandations visant à solutionner la problématique</li>
					<li>
						D'autres informations utiles (signaux d'inconfort,
						accessoires/jouets adaptés à votre chat, etc.).
					</li>
				</ul>
			</p>
			<p>
				Je prévois un rendez-vous téléphonique environ trois semaines après le
				bilan, afin d'estimer l'évolution de votre situation, de reprendre
				certaines notions si nécessaire, d'ajuster les recommandations, etc.
			</p>
			<p>
				Certaines problématiques se solutionnent en une visite, d'autres peuvent
				nécessiter une ou plusieurs séances de suivi, cela est à adapter en
				fonction du cas.
			</p>
			<p>
				<strong>
					Attention, tout changement brutal de comportement peut être causé par
					un problème médical, pensez à rendre visite à votre vétérinaire avant
					de me contacter.
				</strong>
			</p>
		</TextSection>
	</Container>
</Layout>
