---
import { Icon } from 'astro-icon';
import { default as Button } from '../../Button.astro';
---

<section class="hero-section__section">
	<div class="hero-section__content">
		<div class="hero-text__container">
			<h1>Compagnie Animale</h1>
			<p>Mieux comprendre votre animal pour évoluer en harmonie avec lui.</p>
		</div>
		<div class="hero-btns__container">
			<Button href="/contact" customIcon>
				Me contacter
				<Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment>
			</Button>
			<Button href="/services" unelevatedPrimary>Services</Button>
		</div>
	</div>
</section>

<style>
	.hero-section__section {
		display: flex;
		min-height: clamp(70vh, 100vw, calc(80vh - 4rem));
		background-image: url("assets/images/home.jpg");
		background-size: cover;
		background-position: center;
	}
	.hero-section__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		width: 100%;
		margin: 0;
		padding: var(--container-padding);
		padding-top: 6rem;
		padding-bottom: 6rem;

		background-color: rgba(0,0,0,0.28);
	}
	.hero-text__container {
		display: flex;
		flex-direction: column;

		color: var(--theme-on-primary);
		text-align: center;

		& h1 {
			font-family: var(--theme-font-family-logo);
			text-transform: uppercase;
			font-size: var(--font-size-xl);
			font-weight: 400;
		}
	}
	.hero-btns__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__content {
			padding: var(--container-padding);
		}
		.hero-btns__container {
			
		}
	}
</style>
