---
---

<p class="compagnie-animale-logo">COMPAGNIE ANIMALE</p>

<style>
	.compagnie-animale-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-logo);
    	font-size: var(--font-size-md);
		font-weight: 'regular';
		color: inherit;
	}
	.compagnie-animale-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
